<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="/js/main.js"></script>
<script src="/js/vendor/jquery-3.3.1.min.js"></script>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Main Style Sheet -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <!-- Modernizr -->
    <script src="js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- Respond.js for IE 8 or less only -->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/vendor/respond.src.js"></script>
    <![endif]-->
</head>
<body>
<main role="main">
    <div class="container">
        <div class="row">
            <div class="col col-md-6 col-xs-10">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            Forgot your password?
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form  novalidate="novalidate" id="formSignUp">
                            <div id="errorSignUp">

                            </div>

                            <p>Don't worry. Just enter your email address below — we'll send you a link to reset it.</p>

                            <div class="form-group">
                                <label >Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                    <input class="form-control" placeholder="Email address" name="emailSignUp" id="email" type="email">
                                </div>
                            </div>

                            <button type="submit" id="btnLogin" class="btn btn-primary" style="width: 127px;text-align: center">Send link</button>
                        </form>

                        <div class="modal-footer">
                            <small><a href="login.html">Cancel</a></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>